{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!DOCTYPE html>
        <html lang="fa">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>فروشگاه آنلاین</title>
            {% block header %}
        <link rel="stylesheet" href="{% static 'css/home-detail.css' %}">

            {% endblock %}
        </head>
        <body>

        {% for product in products %}
            <div class="product-box">


                <img src="{{ image.image.url }}" alt="عکس محصول ">



                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <span class="price">{{ formatted_price }} تومان   </span>
                <button class="btn-desk">افزودن به سبد خرید</button>
                <button class="btn-desk">مشاهده جزئیات محصول</button>
            </div>
        {% endfor %}

        
        {% block footer %}
            <script src="{% static 'js/home-detail.js' %}"></script>

        {% endblock %}
        </body>
        </html>

{% endblock %}





