{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!DOCTYPE html>
        <html lang="fa">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>فروشگاه آنلاین</title>
            {% block header %}
                <link rel="stylesheet" href="{% static 'css/home-detail.css' %}">

            {% endblock %}
        </head>
        <body>
        {% for product in products %}

            <div class="product-box" style="border: 1.5px solid #535353">
                <a href="{% url 'home:detail_product' product.slug %}">
                <img src="{{ product.image.url }}" alt="عکس محصول " style="width: 125px; height: 125px">
                </a>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description|truncatechars:10 }}</p>
                <span class="price">{{ product.price }} تومان   </span>
                <button class="btn-desk">افزودن به سبد خرید</button>
                <a href="{% url 'home:detail_product' product.slug %}" style="display: inline-block; padding: 10px 20px;
                background-color: purple; color: white;  border-radius: 5px; text-decoration: none; transition: background-color 0.3s;"
                >مشاهده جزئیات محصول</a>
            </div>
        {% endfor %}


        {% block footer %}
            <script src="{% static 'js/home-detail.js' %}"></script>

        {% endblock %}
        </body>
        </html>

{% endblock %}