{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Animation</title>
        {% block header %}
            <link rel="stylesheet" href="{% static 'css/footer.css' %}">

        {% endblock %}
    </head>
    <body>
    <footer>
        <p>Copyright &copy; ELSIN-COLLECTION</p>
    </footer>
    {% block footer %}
        <script src="{% static 'js/footer.js' %}"></script>

    {% endblock %}
    </body>
</html>