* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

header {
    background-color: rgba(132, 52, 255, 0.46);
    color: #0c0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 65px;
    
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #020000;
    text-decoration: none;

}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
    }

    .nav-links li {
        margin: 5px 0;
    }
}